//submit prevent default
//en header declaro metodo



{{#if data.delete}}
  <form action="/team/{{{data.tla}}}/delete" method="POST">
    <div class="alert alert-danger mx-auto mt-2 my-alert" role="alert">
      Are you sure you want to delete this team?
      <button type="submit"class="btn btn-danger">Yes</button>
      <a href="/team/{{{data.tla}}}"  type="button" class="btn btn-secondary">No</a>
    </div>
  </form>
{{/if}}

<div class="card mt-4 mx-auto" style="width: 18rem;">
  <img
    class="card-img-top"
    src="{{{data.crestUrl}}}"
    alt="shield of club {{{data.name}}}"
  />
  <div class="card-body">
    <h5 class="card-title">{{{data.name}}}</h5>
    <p class="card-text">{{{data.tla}}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{{data.country}}}</li>
    <li class="list-group-item">{{{data.address}}}</li>
    <a href="{{{data.website}}}">
      <li class="list-group-item">{{{data.website}}}</li>
    </a>
    <li class="list-group-item">
      <p>Founded:</p>{{{data.founded}}}
    </li>
  </ul>
  <div class="card-body">
    <a href="/team/{{{data.tla}}}/edit" class="card-link"><button type="button" class="btn btn-primary">Edit</button></a>
    <a href="/team/{{{data.tla}}}/delete" class="card-link"><button type="button" class="btn btn-danger">Delete</button></a>
  </div>
</div>
